In [7]:
import pandas as pd

In [8]:
df = pd.read_json("processed_extracted_metadata.json")

In [6]:
df.loc[df['id'] == 'Q85518571']['Netflix ID']

300366    81435684
Name: Netflix ID, dtype: object

In [10]:
df.loc[df['id'] == 'Q85518571']

,id,Instance of,Title,Genre,Duration,Publication date,Country of origin,MPA Film Rating,Assessment,Award Received,...,Sunrise,Sunset,Creator,Voice actor,Characters,Series,Hulu ID,Disney+ series ID,Executive Producer,Disney+ movie ID
300366,Q85518571,Q117467246,Arcane,"[Q98526245, Q56064758, Q223685, Q1080374, Q343...",NaN,NaN,"[Q30, Q142]",NaN,NaN,"{'value': 'Q115212614', 'qualifiers': {'point ...",...,"{'time': '+2021-11-06T00:00:00Z', 'timezone': ...",NaN,"[{'entity-type': 'item', 'numeric-id': 1312889...","[{'value': {'entity-type': 'item', 'numeric-id...",NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df

,id,Instance of,Title,Genre,Duration,Publication date,Country of origin,MPA Film Rating,Assessment,Award Received,...,Sunrise,Sunset,Creator,Voice actor,Characters,Series,Hulu ID,Disney+ series ID,Executive Producer,Disney+ movie ID
0,Q595,Q11424,The Intouchables,"[Q157443, Q645928, Q130232, Q52162262]",112,"[2011-09-23T00:00:00, {'value': '2012-01-05T00...",Q142,Q18665344,"[{'value': 'Q4165246', 'qualifiers': {'assessm...","[{'value': 'Q2354778', 'qualifiers': {'point i...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q2345,Q11424,12 Angry Men,"[Q130232, Q3072039, Q121432339]",95,"[{'value': '1957-04-10T00:00:00', 'qualifiers'...",Q30,NaN,"[{'value': 'Q4165246', 'qualifiers': {'assessm...","[{'value': 'Q154590', 'qualifiers': {'point in...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q3997,Q11424,Nalai Manithan,"[Q200092, Q188473, Q1054574]",NaN,"[1989-01-14T00:00:00, 1989-01-01T00:00:00]",Q668,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4466,Q506240,Titanic II,"[Q1941707, Q846544, Q188473]",90,2010-01-01T00:00:00,Q30,NaN,"{'value': 'Q4165246', 'qualifiers': {'assessme...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q7216,Q11424,Pirates II: Stagnetti's Revenge,"[Q185529, Q2096633]",138,2008-09-27T00:00:00,Q30,NaN,"{'value': 'Q4165246', 'qualifiers': {'assessme...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415576,Q131549935,Q11424,The Roof,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4DAAAWKdea14
415577,Q131549946,Q21191270,Tommy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6qMdehXrz5B0
415578,Q131549957,Q11424,We Live Here: The Midwest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2muuvINZcRYJ
415579,Q131550157,Q11424,I Want To Live (2015 film),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415580,Q131550813,Q11424,American Psycho,Q2484376,NaN,NaN,Q30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.columns

Index(['id', 'Instance of', 'Title', 'Genre', 'Duration', 'Publication date',
       'Country of origin', 'MPA Film Rating', 'Assessment', 'Award Received',
       'Nominated for', 'Box office', 'Production budget',
       'Production company', 'Distribution format', 'Narrative location',
       'Cast member', 'Director', 'Screenwriter', 'Composer',
       'Director of photography', 'Film editor', 'Official Website',
       'Original language of work', 'Netflix ID', 'Based on', 'Num Seasons',
       'Num Episodes', 'Sunrise', 'Sunset', 'Creator', 'Voice actor',
       'Characters', 'Series', 'Hulu ID', 'Disney+ series ID',
       'Executive Producer', 'Disney+ movie ID'],
      dtype='object')

In [97]:
initial = df[['id', 'Instance of', 'Title', 'Genre', 'Duration', 'Publication date', 'Netflix ID', "Disney+ movie ID", "Disney+ series ID", 'Hulu ID']]

In [99]:
instance_mapping = {
    'Q11424':'movie', 
    'Q226730':'movie', 
    'Q202866':'movie',
    'Q98807719':'tv_film', 
    'Q506240':'tv_film',
    'Q24862':'short_film', 
    'Q17517379':'short_film',
    'Q15416':'tv',
    'Q5398426':'tv',
    'Q36103':'tv',
    'Q17317604':'tv',
    'Q59284':'tv',
    'Q117467246':'tv',
    'Q21191270':'tv',
    'Q1261214':'tv',
    'Q59759':'tv',
    'Q18536800':'tv',
    'Q123126551':'tv',
    'Q1259759':'tv',
    'Q61220733':'tv',
    'Q113687694': 'anime', 
    'Q63952888': 'anime', 
    'Q21198342': 'anime', 
    'Q20650540': 'anime',
    'Q220898': 'anime',
    'Q7889': 'other', 
    'Q10590726': 'other', 
    'Q14406742': 'other', 
    'Q18011171': 'other',
    'Q18011172': 'other',
    'Q482994': 'other',
    'Q193977': 'other',
    'Q4164344': 'documentary'
}

def clean_instance(value, instance_mapping):
    """
    Select the best duration value from the input data.
    
    The function supports different data types:
      - If 'value' is a list of dicts (each with a 'value' and optional 'qualifiers'),
        it picks the candidate with the highest priority.
      - If 'value' is a list of plain numeric (or string convertible) values,
        it converts them and returns the minimum.
      - If 'value' is a numeric or string, it converts it appropriately.
    
    Returns:
      A rounded numeric duration (an int) or None if conversion fails.
    """
    if isinstance(value, str):
        return instance_mapping.get(value, value)
    elif isinstance(value, dict):
        inner_value = value.get('value')
        if inner_value is not None:
            return instance_mapping.get(inner_value, value)
        return value
    if isinstance(value, list):
        # Recursively map each item in the list.
        mapped_items = [clean_instance(item, instance_mapping) for item in value]
        # After mapping, if any of the instance_mapping keys appear in the results, return the key.
        for key in instance_mapping:
            if key in mapped_items:
                return key
        # Otherwise, return the list (or value) as-is.
        return value

    # Fallback for other types.
    return value

In [100]:
initial["Instance of"] = initial["Instance of"].apply(lambda x: clean_instance(x, instance_mapping))

C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1424388970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial["Instance of"] = initial["Instance of"].apply(lambda x: clean_instance(x, instance_mapping))

In [101]:
instance_keys = list(set(instance_mapping.values()))
print(instance_keys)

['other', 'anime', 'short_film', 'tv_film', 'documentary', 'movie', 'tv']

In [102]:
initial.loc[~initial['Instance of'].isin(instance_keys)]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
19,Q18754,"[Q5398426, Q35769]",WWE Raw,"[Q131359, Q1190039]","[{'value': '60', 'qualifiers': {'start time': ...",1993-01-11T00:00:00,NaN,NaN,NaN,3af3ba3a-7cf6-45d0-8f3c-c0ef3ee4ddd6
38,Q29011,"[Q20650540, Q202866]",Howl's Moving Castle,"[Q157394, Q15637301, Q319221, Q471839, Q522073...",119,"[{'value': '2004-09-05T00:00:00', 'qualifiers'...",70028883,NaN,NaN,NaN
61,Q44447,"[Q11424, Q10590726]",Michael Jackson's This Is It,"[Q93204, Q842256, Q645928]",111,"[{'value': '2009-10-28T00:00:00', 'qualifiers'...",70123913,NaN,NaN,NaN
98,Q75682,"[Q20650540, Q202866]",Naruto Shippuden the Movie: The Lost Tower,"[Q188473, Q319221, Q157394]",85,2010-07-31T00:00:00,70275937,NaN,NaN,NaN
137,Q125672,"[Q506240, Q11424, Q7697093]",Solaris,"[Q319221, Q471839, Q2973181, Q52207399]",143,1968-01-01T00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
415431,Q131316221,"[Q15416, Q184485]",Comic Hall Stars,Q35874,NaN,NaN,NaN,NaN,NaN,NaN
415447,Q131354694,"[Q11424, Q1485500]",Rack It Up 4,NaN,120,2009-09-01T00:00:00,NaN,NaN,NaN,NaN
415524,Q131431385,"[Q11424, Q202866]",Contra-Filé,Q2484376,14,2019-01-01T00:00:00,NaN,NaN,NaN,NaN
415550,Q131481060,"[Q11424, Q10475300]",The Bear is Coming,Q202866,15,2008-06-13T00:00:00,NaN,NaN,NaN,NaN
415558,Q131540849,"[Q224700, Q11424]",,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
initial['Instance of'].apply(lambda x: print(x) if isinstance(x, str) and x not in ('movie', 'tv', 'tv film', 'anime', 'short film', 'other', 'documentary') else x)

Q182832
Q24856
Q526877
Q7751682
Q24856
Q113791292
Q56884562
Q526877
Q18608583
Q399811
Q13406554
Q29982285
Q7751682
Q20667187
Q122914758
Q1044551
Q24856
Q16510064
Q58483083
Q278329
Q1363997
Q1050739
Q1020767
Q2040963
Q100269041
Q100269041
Q1656682
Q1656682
Q24856
Q7725634
Q1107679
Q1656682
Q7751682
Q2301591
Q28225717
Q7725634
Q7751682
Q56884562
Q653916
Q7725634
Q7725634
Q134556
Q7725634
Q653916
Q7725634
Q7725634
Q7725634
Q58483083
Q3464665
Q7697093
Q7697093
Q5
Q11483816
Q653916
Q13593818
Q653916
Q58483083
Q24856
Q653916
Q193979
Q7697093
Q25360500
Q7697093
Q3464665
Q113671041
Q1635956
Q98701476
Q24856
Q24856
Q526877
Q3002431
Q24856
Q113671041
Q7697093
Q526877
Q13593818
Q2319401
Q653916
Q399811
Q113671041
Q526877
Q7603925
Q526877
Q117209498
Q20442589
Q132241
Q113671041
Q20742776
Q104775758
Q113791292
Q526877
Q30935481
Q30935481
Q7603925
Q399811
Q11664270
Q526877
Q4504495
Q2431196
Q399811
Q113671041
Q1407245
Q526877
Q653916
Q98069877
Q20667187
Q20667187
Q20667187
Q7696995
Q1464369
Q7696995
Q526877
Q24856
Q1050739
Q484170
Q7751682
Q20667187
Q18956797
Q1251417
Q196600
Q24856
Q58483083
Q15079786
Q98701476
Q24856
Q7725634
Q1044551
Q43229
Q7751682
Q24856
Q868250
Q25379
Q25379
Q182832
Q104775758
Q122914758
Q24856
Q1656682
Q104775758
Q7751682
Q1656682
Q56884562
Q35140
Q7725634
Q21664088
Q653916
Q47461344
Q526877
Q3464665
Q526877
Q7751682
Q653916
Q1107
Q653916
Q7725634
Q653916
Q24856
Q182832
Q653916
Q24856
Q7751682
Q653916
Q3744532
Q104775758
Q21664088
Q7725634
Q7725634
Q653916
Q653916
Q7697093
Q116476516
Q24856
Q526877
Q653916
Q15116915
Q117467240
Q653916
Q20742776
Q7725634
Q13406554
Q3464665
Q21156425
Q11086742
Q21156425
Q130192067
Q1187491
Q7697093
Q7697093
Q7697093
Q7777570
Q1850936
Q2301591
Q1407245
Q526877
Q7697093
Q7697093
Q7697093
Q7697093
Q7697093
Q7697093
Q113671041
Q113671041
Q526877
Q7603925
Q20744439
Q104840802
Q113671041
Q526877
Q1464125
Q526877
Q3464665
Q1635956
Q3464665
Q24856
Q98701476
Q213051
Q550484
Q7603925
Q30070675
Q20667187
Q1407245
Q24856
Q98701476
Q336181
Q399811
Q1047299
Q113671041
Q526877
Q526877
Q526877
Q28195059
Q104775758
Q526877
Q116048824
Q47544035
Q113671041
Q1047299
Q98526239
Q100269041
Q104775758
Q20667187
Q20667187
Q20667187
Q2523020
Q24869
Q7603925
Q116048824
Q7751682
Q24856
Q67655225
Q127402430
Q64100970
Q116048824
Q597009
Q18608583
Q100269041
Q119778717
Q278329
Q1050739
Q35769
Q7725634
Q7751682
Q7725634
Q278329
Q98701476
Q24856
Q27020041
Q100269041
Q21156425
Q3564871
Q1044551
Q1107
Q11086742
Q7725634
Q1656682
Q1656682
Q1656682
Q24856
Q653916
Q278329
Q653916
Q7725634
Q18956797
Q21156425
Q7725634
Q55082620
Q9212979
Q28225717
Q11422
Q215380
Q653916
Q20667187
Q104771028
Q653916
Q24856
Q7725634
Q1348595
Q653916
Q7751682
Q7751682
Q21156425
Q117209498
Q104775758
Q67655225
Q113791292
Q35127
Q1573906
Q145806
Q653916
Q127402430
Q98701476
Q31235
Q653916
Q104775758
Q23726798
Q100269041
Q18510489
Q24856
Q526877
Q149010
Q100269041
Q399811
Q653916
Q113671041
Q196600
Q24856
Q1047299
Q1107
Q113671041
Q11086742
Q7603925
Q914242
Q24856
Q24856
Q370630
Q24856
Q34508
Q113671041
Q20667187
Q104771028
Q104771028
Q24856
Q1635956
Q844580
Q526877
Q526877
Q526877
Q526877
Q1407245
short_film
Q526877
Q1658957
Q113671041
Q1047299
Q526877
Q526877
Q98069877
Q100269041
Q123995800
Q12912091
Q93204
Q113671041
Q98701476
Q98069877
Q399811
Q104775758
Q110288240
Q35516
Q35516
Q35516
Q35516
Q20819922
Q215380
Q1360379
Q7751682
Q399811
Q18956797
Q1107
Q47461344
Q24856
Q20667187
Q24856
Q123995798
Q116048824
Q653916
Q1144661
Q24856
Q24856
Q526877
Q7751682
Q868250
Q526877
Q278329
Q20667187
Q24856
Q3566966
Q104775758
Q1656682
Q1656682
Q1656682
Q56884562
Q1656682
Q399811
Q1667921
Q28225717
Q653916
Q7751682
Q98701476
Q1656682
Q7751682
Q7725634
Q7725634
Q526877
Q597009
Q653916
Q386724
Q7697093
Q24856
Q7751682
Q2301591
Q25379
Q24856
Q104775758
Q104771028
Q399811
Q104775758
Q104775758
Q24856
Q653916
Q25379
Q104775758
Q7751682
Q7751682
Q653916
Q110879246
Q1760610
Q113671041
Q653916
Q653916
Q64100970
Q526877
Q182832
Q1656682
Q7697093
Q526877
Q7777570
Q113671041
Q24856
Q622812
Q7751682
Q526877
Q20667187
Q653916
Q3464665
Q1047299
Q24856
Q117467240
Q24856
Q24856
Q526877
Q526877
Q653916
Q7603925
Q104840802
Q1060398
Q1635956
Q3464665
Q113671041
Q3495514
Q399811
Q20667187
Q110879246
Q98526239
Q1407245
Q104775758
Q399811
Q526877
Q517386
Q12912091
Q1047299
Q20667187
Q20667187
Q7603925
Q7603925
Q526877
Q129086536
Q7696995
Q93204
Q12912091
Q10282327
Q35516
Q35516
Q35516
Q35516
Q35516
Q476300
Q24856
Q20667187
Q3464665
Q653916
Q32096
Q399811
Q13406554
Q58483083
Q107018467
Q868250
Q24856
Q24856
Q24856
Q104775758
Q1619206
Q1044551
Q653916
Q85475422
Q58483083
Q104775758
Q526877
Q1363997
Q3564871
Q868250
Q25379
Q24856
Q1656682
Q7751682
short_film
Q122914801
Q868250
Q526877
Q2301325
Q6458277
Q653916
Q110879246
Q110593089
Q653916
Q526877
Q2301591
Q653916
Q653916
Q653916
Q7697093
Q13593818
Q7725634
Q13593818
Q1107
Q7697093
Q7697093
Q21156425
Q21156425
Q21664088
Q13406463
Q399811
Q7725634
Q3585697
Q1635956
Q7725634
Q526877
Q7697093
Q1187491
Q3464665
Q526877
Q526877
Q526877
Q104775758
Q24856
Q1635956
Q145806
Q3464665
Q24856
Q399811
Q526877
Q113671041
Q526877
Q526877
Q526877
Q17558136
Q113671041
Q526877
Q104775758
Q653916
Q653916
Q11086742
Q113671041
Q526877
Q29982285
Q24856
Q64100970
Q526877
Q526877
Q28195059
Q47544035
Q30935481
Q130192067
Q399811
Q113671041
Q34508
Q526877
Q526877
Q3464665
Q526877
Q98701476
Q5
Q3464665
Q550484
Q399811
Q123995800
Q20667187
Q20667187
Q20667187
Q98701476
Q7603925
Q24856
Q93204
Q3464665
Q107655869
Q35516
Q35516
Q1050739
Q4737503
Q130192067
Q24856
Q7777570
Q98701476
Q20667187
Q20667187
Q18608583
Q868557
Q41582469
Q20667187
Q1478437
Q3464665
Q1044551
Q7751682
Q1044551
Q1573906
Q278329
Q1760610
Q1044551
Q868250
Q868250
Q653916
Q7751682
Q110879246
Q1363997
Q1144661
Q868250
Q7751682
Q24856
Q399811
Q1656682
Q399811
Q526877
Q13593818
Q1656682
Q7725634
Q1144661
Q24856
Q653916
Q431102
Q21664088
Q7725634
Q1656682
Q653916
Q653916
Q7751682
Q169930
Q24856
Q24856
Q653916
Q7725634
Q653916
Q1667921
Q7725634
Q7725634
Q117467240
Q7697093
Q117467240
Q653916
Q677466
Q653916
Q2334719
Q3566966
Q100269041
Q45107780
Q13406463
Q7725634
Q104775758
Q653916
Q526877
Q12973014
Q24856
Q7777570
Q3464665
Q7697093
Q7697093
Q7697093
Q7697093
Q7697093
Q7697093
Q113671041
Q20937557
Q7725634
Q1079023
Q1656682
Q7697093
Q8253
Q7697093
Q7697093
Q7697093
Q7697093
Q7697093
Q7697093
Q4737503
Q931552
Q24856
Q26225677
Q24856
Q399811
Q3585697
Q526877
Q47544035
Q113671041
Q113671041
Q113671041
Q24856
Q34508
Q99839991
Q336181
Q113671041
Q20667187
Q20667187
Q113671041
Q7603925
Q3585697
Q7603925
Q98069877
Q7603925
Q7603925
Q7696995
Q93204
Q12912091
Q93204
Q125359117
Q93204
Q35516
Q35516
Q1050739
Q20667187
Q7751682
Q7382001
Q21664088
Q399811
Q13406463
Q240862
Q12538685
Q24856
Q278329
Q278329
Q278329
Q182832
Q7751682
Q7725634
Q98701476
Q868250
Q24856
Q113791292
Q1348595
Q58483083
Q24856
Q104775758
Q1348595
Q16510064
Q104775758
Q16510064
Q47461344
Q1044551
Q21156425
Q35140
Q7751682
Q47461344
Q653916
Q526877
Q4830453
Q21664088
Q6586445
Q2001305
Q47461344
Q117209498
Q7751682
Q7751682
Q13593818
Q7725634
Q3464665
Q20667187
Q25379
Q653916
Q20667187
Q7697093
Q104775758
Q7697093
Q24856
Q24856
Q56884562
Q653916
Q27889498
Q3951815
Q3464665
Q526877
Q7603925
Q3464665
Q7603925
Q7777570
Q24856
Q526877
Q526877
Q21156425
Q526877
Q113671041
Q24856
Q735478
Q653916
Q24856
Q4504495
Q116048824
Q17537576
Q24856
Q98701476
Q3464665
Q12912091
Q7725634
Q116048824
Q13406463
Q653916
Q113671041
Q526877
Q30935481
Q526877
Q653916
Q34508
Q1047299
Q113671041
Q1047299
Q399811
Q653916
Q20667187
Q20667187
Q113671041
Q27889498
Q581714
Q854995
Q98069877
Q98069877
Q98069877
Q93204
Q27868077
Q27868077
Q399811
Q35516
Q1050739
Q20667187
Q931552
Q98701476
Q854995
Q24856
Q113791292
Q56884562
Q1257444
Q18956797
Q117209498
Q7725634
Q105543609
Q104775758
Q24856
Q1044551
Q18956797
Q56884562
Q868250
Q868250
Q868250
Q181362
Q3564871
Q1044551
Q653916
Q20442589
Q18956797
Q25379
Q3744532
Q7777570
Q7777570
Q24856
Q15116915
Q98701476
Q127402430
Q58483083
Q7628801
Q7725634
Q7751682
Q58483083
Q597009
Q113791292
Q7697093
Q653916
Q24856
Q4886
Q5
Q653916
Q7751682
Q58483083
Q7725634
Q104775758
Q145806
Q526877
Q20667187
Q7697093
Q653916
Q399811
Q104775758
Q20667187
Q24856
Q1363997
Q59126
Q526877
Q134556
Q3585697
Q29168811
Q677466
Q653916
Q526877
Q24856
Q21156425
Q13406463
Q3464665
Q526877
Q24856
Q2301591
Q104775758
Q21156425
Q7697093
Q20667187
Q67655225
Q24856
Q14346334
Q116048824
Q3464665
Q3464665
Q98701476
Q526877
Q117209498
Q1047299
Q526877
Q98069877
Q7603925
Q526877
Q7725634
Q24855895
Q7725634
Q20667187
Q1047299
Q526877
Q47544035
Q526877
Q21010853
Q20667187
Q517386
Q3421644
Q123995800
Q20667187
Q93204
Q7696995
Q98069877
Q93204
Q93204
Q25379

0           movie
1           movie
2           movie
3         tv film
4           movie
           ...
415576      movie
415577         tv
415578      movie
415579      movie
415580      movie
Name: Instance of, Length: 415581, dtype: object

In [43]:
initial.loc[initial['Instance of'].isin(['Q11424', 'Q226730', 'Q202866']), 'Instance of'] = 'movie'

initial.loc[initial['Instance of'].isin(['Q98807719', 'Q506240']), 'Instance of'] = 'tv film'

initial.loc[initial['Instance of'].isin(['Q24862', 'Q17517379']), 'Instance of'] = 'short film'

C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1008193037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[initial['Instance of'].isin(['Q11424', 'Q226730', 'Q202866']), 'Instance of'] = 'movie'
C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1008193037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[initial['Instance of'].isin(['Q98807719', 'Q506240']), 'Instance of'] = 'tv film'
C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1008193037.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[initial['Instance of'].isin(['Q24862', 'Q17517379']), 'Instance of'] = 'short film'

In [54]:
initial['Instance of'].map(instance_mapping)

TypeError: unhashable type: 'list'

In [ ]:
initial.loc[initial['Instance of'].isin(['Q15416', 'Q5398426', 'Q36103', 
                                         'Q17317604', 'Q59284', 'Q117467246', 
                                         'Q21191270', 'Q1261214', 'Q59759',
                                         'Q18536800', 'Q123126551', 'Q1259759']), 'Instance of'] = 'tv'

initial.loc[initial['Instance of'].isin(['Q113687694', 'Q63952888', 'Q21198342', 'Q20650540']), 'Instance of'] = 'anime'

initial.loc[initial['Instance of'].isin(['Q7889', 'Q10590726', 'Q14406742', 'Q18011171']), 'Instance of'] = 'other'

ignore = 'Q18011171'


initial['Instance of'].apply(lambda x: print(x) if isinstance(x, str) and x not in ('movie', 'tv', 'tv film', 'anime', 'short film', 'other') else x)

C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1183173597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[initial['Instance of'].isin(['Q15416', 'Q5398426', 'Q36103',
C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1183173597.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[initial['Instance of'].isin(['Q113687694', 'Q63952888', 'Q21198342', 'Q20650540']), 'Instance of'] = 'anime'
C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\1183173597.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[initial['Instance of'].isin(['Q7889', 'Q10590726', 'Q14406742', 'Q18011171']), 'Instance of'] = 'other'

TypeError: argument of type 'float' is not iterable

In [ ]:
initial.loc[~initial['Instance of'].isin(['movie', 'tv']), 'Instance of'] = initial.loc[~initial['Instance of'].isin(['movie', 'tv']), 'Instance of'].apply(lambda x: 'movie' if 'Q11424' in x else x)
initial.loc[~initial['Instance of'].isin(['movie', 'tv']), 'Instance of'] = initial.loc[~initial['Instance of'].isin(['movie', 'tv']), 'Instance of'].apply(lambda x: 'tv' if 'Q15416' in x else x)

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
19,Q18754,"[Q5398426, Q35769]",WWE Raw,"[Q131359, Q1190039]","[{'value': '60', 'qualifiers': {'start time': ...",1993-01-11T00:00:00,NaN,NaN,NaN,3af3ba3a-7cf6-45d0-8f3c-c0ef3ee4ddd6
29,Q24980,"{'value': 'Q11424', 'qualifiers': {'follows': ...",Monty Python's The Meaning of Life,"[Q842256, Q157443]",112,"[{'value': '1983-08-26T00:00:00', 'qualifiers'...",60029676,NaN,NaN,NaN
38,Q29011,"[Q20650540, Q202866]",Howl's Moving Castle,"[Q157394, Q15637301, Q319221, Q471839, Q522073...",119,"[{'value': '2004-09-05T00:00:00', 'qualifiers'...",70028883,NaN,NaN,NaN
61,Q44447,"[Q11424, Q10590726]",Michael Jackson's This Is It,"[Q93204, Q842256, Q645928]",111,"[{'value': '2009-10-28T00:00:00', 'qualifiers'...",70123913,NaN,NaN,NaN
98,Q75682,"[Q20650540, Q202866]",Naruto Shippuden the Movie: The Lost Tower,"[Q188473, Q319221, Q157394]",85,2010-07-31T00:00:00,70275937,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
415447,Q131354694,"[Q11424, Q1485500]",Rack It Up 4,NaN,120,2009-09-01T00:00:00,NaN,NaN,NaN,NaN
415524,Q131431385,"[Q11424, Q202866]",Contra-Filé,Q2484376,14,2019-01-01T00:00:00,NaN,NaN,NaN,NaN
415539,Q131451703,Q18011172,Onslaught,"[Q188473, Q200092, Q2484376]",NaN,NaN,NaN,NaN,NaN,NaN
415550,Q131481060,"[Q11424, Q10475300]",The Bear is Coming,Q202866,15,2008-06-13T00:00:00,NaN,NaN,NaN,NaN
415558,Q131540849,"[Q224700, Q11424]",,NaN,NaN,NaN,NaN,NaN,NaN,NaN

C:\Users\krdan\AppData\Local\Temp\ipykernel_2328\966597631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial.loc[~initial['Instance of'].isin(['movie', 'tv', 'tv film', 'anime', 'short film', 'other']), "Instance of"] = initial.loc[~initial['Instance of'].isin(['movie', 'tv', 'tv film', 'anime', 'short film', 'other'])].apply(clean_instance, axis=1)

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
19,Q18754,"[Q5398426, Q35769]",WWE Raw,"[Q131359, Q1190039]","[{'value': '60', 'qualifiers': {'start time': ...",1993-01-11T00:00:00,NaN,NaN,NaN,3af3ba3a-7cf6-45d0-8f3c-c0ef3ee4ddd6
38,Q29011,"[Q20650540, Q202866]",Howl's Moving Castle,"[Q157394, Q15637301, Q319221, Q471839, Q522073...",119,"[{'value': '2004-09-05T00:00:00', 'qualifiers'...",70028883,NaN,NaN,NaN
98,Q75682,"[Q20650540, Q202866]",Naruto Shippuden the Movie: The Lost Tower,"[Q188473, Q319221, Q157394]",85,2010-07-31T00:00:00,70275937,NaN,NaN,NaN
164,Q135574,"[Q18011171, Q202866]",Me and My Shadow,Q157394,100,2024-08-02T00:00:00,NaN,NaN,NaN,NaN
196,Q152435,"[Q226730, Q24862]",Miss Soapsuds,Q226730,NaN,1914-01-01T00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
414750,Q130418791,"[Q5398426, Q1259759]",La Máquina,Q1366112,NaN,NaN,NaN,NaN,LtzRw9K0Hb49,la-maquina-65b49602-6992-4e5a-ad0f-66098ba9fca2
414761,Q130437678,NaN,Surviving the Serengeti,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415302,Q130810695,"[Q202866, Q98807719]",La cantata dei pastori,NaN,50,2012-01-01T00:00:00,NaN,NaN,NaN,NaN
415427,Q131311772,Q25379,Bei ons verklemmt nix,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415539,Q131451703,Q18011172,Onslaught,"[Q188473, Q200092, Q2484376]",NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
initial.head()

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
0,Q595,movie,The Intouchables,"[Q157443, Q645928, Q130232, Q52162262]",112,"[2011-09-23T00:00:00, {'value': '2012-01-05T00...",70232180,NaN,NaN,NaN
1,Q2345,movie,12 Angry Men,"[Q130232, Q3072039, Q121432339]",95,"[{'value': '1957-04-10T00:00:00', 'qualifiers'...",60004251,NaN,NaN,NaN
2,Q3997,movie,Nalai Manithan,"[Q200092, Q188473, Q1054574]",NaN,"[1989-01-14T00:00:00, 1989-01-01T00:00:00]",NaN,NaN,NaN,NaN
3,Q7216,movie,Pirates II: Stagnetti's Revenge,"[Q185529, Q2096633]",138,2008-09-27T00:00:00,70113743,NaN,NaN,NaN
4,Q11618,movie,Eraserhead,"[Q130232, Q102260466, Q2973181, Q157394]",89,"[1977-01-01T00:00:00, {'value': '1979-09-07T00...",70034219,NaN,NaN,NaN

In [47]:
def made_in_us(x):
    if isinstance(x, list):
        return 'Q30' in x
    elif isinstance(x, str):
        return x == 'Q30'

In [48]:
import numpy as np
import math

def is_non_scalar(value):
    return isinstance(value, (list, dict, set, tuple, np.ndarray))

def get_candidate_priority(candidate):
    """
    Determine the candidate's priority based on its qualifiers.
    Lower numbers indicate higher priority.
    
    Priority rules:
      1. If the candidate's 'applies to part' qualifier has id 'Q26225765', return priority 1.
      2. Else if the candidate's 'place of publication' qualifier equals ['Q30'], return priority 2.
      3. Otherwise, return priority 3.
    """
    qualifiers = candidate.get('qualifiers', {})
    # Highest priority: "applies to part" equals Q26225765
    applies_to = qualifiers.get('applies to part')
    if isinstance(applies_to, list) and applies_to:
        # Check the first (or any) candidate; adjust if multiple values need to be considered.
        if isinstance(applies_to[0], dict) and applies_to[0].get('id') == 'Q26225765':
            return 1
    # Next priority: "place of publication" equals ['Q30']
    pop = qualifiers.get('place of publication')
    if isinstance(pop, list) and pop == ['Q30']:
        return 2
    # Lower priority for any candidate that doesn’t match the above.
    return 3

def clean_duration(value):
    """
    Select the best duration value from the input data.
    
    The function supports different data types:
      - If 'value' is a list of dicts (each with a 'value' and optional 'qualifiers'),
        it picks the candidate with the highest priority.
      - If 'value' is a list of plain numeric (or string convertible) values,
        it converts them and returns the minimum.
      - If 'value' is a numeric or string, it converts it appropriately.
    
    Returns:
      A rounded numeric duration (an int) or None if conversion fails.
    """
    # Case 1: 'value' is a list.
    if isinstance(value, list):
        # Check if the list elements are dictionaries (i.e. structured with qualifiers).
        if all(isinstance(item, dict) for item in value):
            # Filter out candidates that have a 'value' key.
            candidates = [item for item in value if 'value' in item]
            if not candidates:
                return None
            # Assign a priority to each candidate.
            candidates_with_priority = [
                (get_candidate_priority(candidate), candidate) for candidate in candidates
            ]
            # Sort by priority (lowest number is highest priority).
            candidates_with_priority.sort(key=lambda x: x[0])
            chosen_candidate = candidates_with_priority[0][1]
            chosen_value = chosen_candidate.get('value')
            try:
                # Convert the chosen value to float and round it.
                return round(float(chosen_value))
            except (ValueError, TypeError):
                return None
        else:
            # Otherwise, assume the list contains plain numeric or string values.
            numeric_candidates = []
            for item in value:
                try:
                    numeric_candidates.append(float(item))
                except (ValueError, TypeError):
                    continue
            if numeric_candidates:
                # Here you might choose the minimum (or maximum) duration.
                return round(min(numeric_candidates))
            else:
                return None

    # Case 2: 'value' is a numeric type.
    elif isinstance(value, (int, float)):
        if isinstance(value, float) and math.isnan(value):
            return None
        try:
            return round(float(value))
        except (ValueError, TypeError):
            return None

    # Case 3: 'value' is a string.
    elif isinstance(value, str):
        try:
            return round(float(value))
        except ValueError:
            return None

    # Fallback: unrecognized type.
    else:
        return None
    
initial = initial.loc[(initial['Title'] != '')]
initial['Duration'] = initial['Duration'].apply(clean_duration)

C:\Users\krdan\AppData\Local\Temp\ipykernel_17780\857389731.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial['Duration'] = initial['Duration'].apply(clean_duration)

In [ ]:
# import numpy as np
# import math
# def is_non_scalar(value):
#     return isinstance(value, (list, dict, set, tuple, np.ndarray))

# def choose_duration(value):
#     if isinstance(value, list) and isinstance(value[0], dict):
#         for versions in value:
#             if isinstance(versions, dict):
#                 if versions.get('qualifiers').get('applies to part'):
#                     if versions.get('qualifiers').get('applies to part')[0]['id'] == 'Q26225765':
#                         return versions.get('value')
#                 if versions.get('qualifiers').get('place of publication'):
#                     if versions.get('qualifiers').get('place of publication') == ['Q30']:
#                         return versions.get('value')
#         return value[0]['value']
#     elif isinstance(value, list):
#         print(value)
#         for idx, versions in enumerate(value):
#             if isinstance(versions, dict):
#                 if versions.get('qualifiers').get('applies to part'):
#                     if versions.get('qualifiers').get('applies to part')[0]['id'] == 'Q26225765':
#                         return versions.get('value')
#                     else:
#                         value.pop(idx)
#                 elif versions.get('qualifiers').get('place of publication'):
#                     if versions.get('qualifiers').get('place of publication') == ['Q30']:
#                         return versions.get('value')
#                     else:
#                         value.pop(idx)
#                 else:
#                     value.pop(idx)
#         print(value)
#         return min(value)

#     elif isinstance(value, (int, float)):
#         if math.isnan(value):
#             return None
#         return round(value)
#     elif isinstance(value, str):
#         return round(float(value))

# initial = initial.loc[(initial['Title'] != '')]
# initial['Duration'] = initial['Duration'].apply(choose_duration)

In [49]:
def check_for_list_or_dict(row):
    if isinstance(row, (int, float)):
        return False
    for item in row:
        if isinstance(item, list) or isinstance(item, dict):
            return True
    return False

In [51]:
initial.loc[initial['Disney+ movie ID'].apply(check_for_list_or_dict)]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
202,Q188439,movie,Tangled,"[Q842256, Q1957385, Q157443, Q2975633]",100.0,"[{'value': '2010-11-24T00:00:00', 'qualifiers'...",70128681,"[3V3ALy4SHStq, {'value': '5mb1AVLjOo2k', 'qual...",NaN,NaN
314,Q246283,movie,Frozen,"[Q859369, Q842256, Q157443, Q2975633, Q5216226...",101.0,"[{'value': '2013-11-27T00:00:00', 'qualifiers'...",70279000,"[4uKGzAJi3ROz, {'value': '1JffnkWmY6mD', 'qual...",NaN,NaN
10603,Q5815826,movie,Coco,"[Q842256, Q157394, Q319221, Q186424, Q1361932,...",109.0,"[{'value': '2017-11-22T00:00:00', 'qualifiers'...",80189213,"[{'value': 'db9orsI5O4gC', 'qualifiers': {'lan...",NaN,NaN
66515,Q14847067,movie,Into the Woods,"[Q157394, Q842256]",125.0,"[{'value': '2014-12-25T00:00:00', 'qualifiers'...",70305948,"[1YYWziMOrDdq, {'value': '4XhpQPGupcwC', 'qual...",NaN,NaN
93316,Q322328,movie,The Nightmare Before Christmas,"[Q842256, Q1342372, Q28026639, Q157394, Q79491...",73.0,"[{'value': '1993-10-15T00:00:00', 'qualifiers'...",806284,"[5GjwOj5Rkpz2, {'value': '5f9Y4Fphlz7f', 'qual...",NaN,NaN
100677,Q4120951,movie,Muppets Most Wanted,"[Q842256, Q1200678, Q496523, Q157443, Q157394,...",107.0,"[{'value': '2014-03-21T00:00:00', 'qualifiers'...",70294662,"[5P53FrvtFCEo, {'value': 'drvTprAamsAx', 'qual...",NaN,NaN
129059,Q84323848,movie,Hamilton,Q842256,160.0,"[2021-10-15T00:00:00, 2020-07-03T00:00:00]",NaN,"[3uPmBHWlO6HJ, {'value': '2fGLm1Uttylg', 'qual...",NaN,NaN
256908,Q19946102,movie,Beauty and the Beast,"[Q1054574, Q157394, Q842256, Q191489, Q130232,...",129.0,"[{'value': '2017-03-17T00:00:00', 'qualifiers'...",80135073,"[227lND2lKmLZ, {'value': 'uGi98kFbxOIp', 'qual...",NaN,NaN
306114,Q24272881,movie,Mary Poppins Returns,"[Q842256, Q52207399, Q1361932]",130.0,"[{'value': '2018-12-21T00:00:00', 'qualifiers'...",NaN,"[5F6U4wl2xb7P, {'value': '1CqJzEniH6X7', 'qual...",NaN,NaN

In [52]:
initial.loc[initial['Disney+ series ID'].apply(check_for_list_or_dict)]

Empty DataFrame
Columns: [id, Instance of, Title, Genre, Duration, Publication date, Netflix ID, Disney+ movie ID, Disney+ series ID, Hulu ID]
Index: []

In [53]:
initial.loc[initial['Hulu ID'].apply(check_for_list_or_dict)]

Empty DataFrame
Columns: [id, Instance of, Title, Genre, Duration, Publication date, Netflix ID, Disney+ movie ID, Disney+ series ID, Hulu ID]
Index: []

In [54]:
#Specific Netflix IDs to fix:
problematic_netflix_ids = ('Q289127', 'Q21001674', 'Q320588', 'Q13897247', 'Q20495759')
problematic_netflix_ids = initial.loc[initial['Netflix ID'].apply(check_for_list_or_dict)]['id'].tolist()
problematic_disney_movie_ids = initial.loc[initial['Disney+ movie ID'].apply(check_for_list_or_dict)]['id'].tolist()
problematic_disney_series_ids = initial.loc[initial['Disney+ series ID'].apply(check_for_list_or_dict)]['id'].tolist()
problematic_hulu_ids = initial.loc[initial['Hulu ID'].apply(check_for_list_or_dict)]['id'].tolist()

In [ ]:
def flatten_list(value):
    row = []
    if isinstance(value, list):
        for val in value:
            if isinstance(val, dict):
                row.append(val['value'])
            else:
                row.append(val)
        return row
    return value

def flatten_dict(value):
    row = []
    if isinstance(value, list):
        for val in value:
            if isinstance(val, dict):
                row.append(val['value'])
            else:
                row.append(val)
        return row
    return value

In [56]:
initial.loc[initial['id'].isin(problematic_netflix_ids), 'Netflix ID'] = \
    initial.loc[initial['id'].isin(problematic_netflix_ids), 'Netflix ID'].apply(flatten_list)

initial.loc[initial['id'].isin(problematic_disney_movie_ids), 'Disney+ movie ID'] = \
    initial.loc[initial['id'].isin(problematic_disney_movie_ids), 'Disney+ movie ID'].apply(flatten_list)

In [57]:
# initial.loc[initial['Instance of'] != 'Q11424'].apply(flatten_list)

In [58]:
initial.loc[initial['id'].isin(problematic_disney_movie_ids)]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
202,Q188439,movie,Tangled,"[Q842256, Q1957385, Q157443, Q2975633]",100.0,"[{'value': '2010-11-24T00:00:00', 'qualifiers'...",70128681,"[3V3ALy4SHStq, 5mb1AVLjOo2k]",NaN,NaN
314,Q246283,movie,Frozen,"[Q859369, Q842256, Q157443, Q2975633, Q5216226...",101.0,"[{'value': '2013-11-27T00:00:00', 'qualifiers'...",70279000,"[4uKGzAJi3ROz, 1JffnkWmY6mD]",NaN,NaN
10603,Q5815826,movie,Coco,"[Q842256, Q157394, Q319221, Q186424, Q1361932,...",109.0,"[{'value': '2017-11-22T00:00:00', 'qualifiers'...",80189213,"[db9orsI5O4gC, SvWfRZO0Z3mF, 4M9wtfJ9CfQm]",NaN,NaN
66515,Q14847067,movie,Into the Woods,"[Q157394, Q842256]",125.0,"[{'value': '2014-12-25T00:00:00', 'qualifiers'...",70305948,"[1YYWziMOrDdq, 4XhpQPGupcwC]",NaN,NaN
93316,Q322328,movie,The Nightmare Before Christmas,"[Q842256, Q1342372, Q28026639, Q157394, Q79491...",73.0,"[{'value': '1993-10-15T00:00:00', 'qualifiers'...",806284,"[5GjwOj5Rkpz2, 5f9Y4Fphlz7f]",NaN,NaN
100677,Q4120951,movie,Muppets Most Wanted,"[Q842256, Q1200678, Q496523, Q157443, Q157394,...",107.0,"[{'value': '2014-03-21T00:00:00', 'qualifiers'...",70294662,"[5P53FrvtFCEo, drvTprAamsAx]",NaN,NaN
129059,Q84323848,movie,Hamilton,Q842256,160.0,"[2021-10-15T00:00:00, 2020-07-03T00:00:00]",NaN,"[3uPmBHWlO6HJ, 2fGLm1Uttylg]",NaN,NaN
256908,Q19946102,movie,Beauty and the Beast,"[Q1054574, Q157394, Q842256, Q191489, Q130232,...",129.0,"[{'value': '2017-03-17T00:00:00', 'qualifiers'...",80135073,"[227lND2lKmLZ, uGi98kFbxOIp]",NaN,NaN
306114,Q24272881,movie,Mary Poppins Returns,"[Q842256, Q52207399, Q1361932]",130.0,"[{'value': '2018-12-21T00:00:00', 'qualifiers'...",NaN,"[5F6U4wl2xb7P, 1CqJzEniH6X7]",NaN,NaN

In [ ]:
test = initial['Genre'].apply(flatten_list)
test = test.apply(lambda x: [x] if isinstance(x, str) else x)
test = test.apply(lambda x: [x['value']] if isinstance(x, dict) else x)

In [119]:
test.loc[test.apply(lambda x: isinstance(x, list))]

0           [Q157443, Q645928, Q130232, Q52162262]
1                  [Q130232, Q3072039, Q121432339]
2                     [Q200092, Q188473, Q1054574]
3                              [Q185529, Q2096633]
4         [Q130232, Q102260466, Q2973181, Q157394]
                            ...
370661                                   [Q130232]
370663                                   [Q202866]
370667                                    [Q93204]
370668                         [Q20442589, Q24862]
370685                                  [Q2484376]
Name: Genre, Length: 200078, dtype: object

In [120]:
wtf = test.loc[test.apply(lambda x: not isinstance(x, list))]

In [121]:
wtf.loc[wtf!='test'].apply(lambda x: [x['value']] if isinstance(x, dict) else x)

65       NaN
70       NaN
126      NaN
127      NaN
174      NaN
          ..
370680   NaN
370681   NaN
370682   NaN
370683   NaN
370684   NaN
Name: Genre, Length: 82296, dtype: float64

In [109]:
test = test.fillna('test')

In [ ]:
test.loc[test=='test']

In [110]:
test.loc[test=='test']

65        test
70        test
126       test
127       test
174       test
          ...
370680    test
370681    test
370682    test
370683    test
370684    test
Name: Genre, Length: 82296, dtype: object

In [127]:
df['Instance of'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

0         Q11424
1         Q11424
2         Q11424
3         Q11424
4         Q11424
           ...
370681    Q11424
370682    Q11424
370683    Q11424
370684    Q11424
370685    Q11424
Name: Instance of, Length: 370686, dtype: object

In [126]:
initial.loc[~initial['Instance of'].isin(['movie', 'tv'])]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
22,Q24980,"{'value': 'Q11424', 'qualifiers': {'follows': ...",Monty Python's The Meaning of Life,"[Q842256, Q157443]",112.0,"[{'value': '1983-08-26T00:00:00', 'qualifiers'...",60029676,NaN,NaN,NaN
184,Q180219,"{'value': 'Q11424', 'qualifiers': {'publicatio...",Heroes of the West,"[Q212781, Q157443]",95.0,1963-01-01T00:00:00,NaN,NaN,NaN,NaN
1378,Q869862,"{'value': 'Q11424', 'qualifiers': {'followed b...",Goal!,Q3076696,113.0,"[{'value': '2006-05-12T00:00:00', 'qualifiers'...",70041143,26kF70VB1fOq,NaN,NaN
6205,Q3577227,"[{'value': 'Q1555508', 'qualifiers': {'publish...",Ça peut vous arriver,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6983,Q3824811,"{'value': 'Q11424', 'qualifiers': {'publicatio...",Vengeance Is My Forgiveness,Q212781,82.0,1969-01-01T00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
353900,Q27964588,"{'value': 'Q11424', 'qualifiers': {'start time...",Velaiilla Pattadhari 2,Q2678111,NaN,2017-01-01T00:00:00,NaN,NaN,NaN,NaN
365696,Q113133909,"{'value': 'Q11424', 'qualifiers': {'genre': [{...",Aropin N'Tenia,NaN,NaN,1982-01-01T00:00:00,NaN,NaN,NaN,NaN
366260,Q115359828,"[Q2927074, {'value': 'Q11424', 'qualifiers': {...",Goncharov,Q7444356,NaN,1973-01-01T00:00:00,NaN,NaN,NaN,NaN
366923,Q117359374,"{'value': 'Q11424', 'qualifiers': {'publicatio...",Jolicoeur Touriste,Q790192,NaN,1989-01-01T00:00:00,NaN,NaN,NaN,NaN
369410,Q126950724,"{'value': 'Q11424', 'qualifiers': {'identity o...",Everybody's Talking About Jamie (film),"[Q842256, Q859369]",NaN,2021-09-10T00:00:00,NaN,NaN,NaN,NaN

In [60]:
df['Instance of'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

0         Q11424
1         Q11424
2         Q11424
3         Q11424
4         Q11424
           ...
370681    Q11424
370682    Q11424
370683    Q11424
370684    Q11424
370685    Q11424
Name: Instance of, Length: 370686, dtype: object

In [61]:
print(df[['id', 'Genre']].dropna().explode('Genre'))

                id      Genre
0             Q595    Q157443
0             Q595    Q645928
0             Q595    Q130232
0             Q595  Q52162262
1            Q2345    Q130232
...            ...        ...
370663  Q131481060    Q202866
370667  Q131523693     Q93204
370668  Q131531679  Q20442589
370668  Q131531679     Q24862
370685  Q131550813   Q2484376

[332364 rows x 2 columns]

In [62]:
# import sqlalchemy
# from urllib.parse import quote_plus

# DB_HOST = "35.236.65.215"
# DB_USER = "dannydhkim"
# DB_PASSWORD = "!@#$Mari03240306"
# DB_NAME = "popcorn_metadata"
# DB_PORT = "3306"

# encoded_password = quote_plus(DB_PASSWORD)
# # Connect to MySQL
# engine = sqlalchemy.create_engine(f"mysql+pymysql://{DB_USER}:{encoded_password}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
# df = df[['id', 'Genre']].dropna().explode('Genre')
# df = df.rename(columns={"id": "content_id", "Genre": "genre_id"})
# df.to_sql("content_genre", con=engine, if_exists="append", index=False)

# print("Data successfully written to MySQL!")

In [63]:
print(df['Title'].loc[df['Title'].duplicated()].sort_values().tail(15))

318839    None
319411    None
322674    None
323890    None
324286    None
341370    None
341449    None
341559    None
341820    None
341898    None
351932    None
352784    None
357358    None
363877    None
369109    None
Name: Title, dtype: object

In [64]:
print(df['Title'].loc[df['Title']==''])

223
387
448
541
790
         ..
370654
370655
370660
370662
370670
Name: Title, Length: 88312, dtype: object