In [5]:
import pandas as pd

In [6]:
df = pd.read_json("processed_extracted_metadata.json")

In [7]:
df.loc[df['id'] == 'Q85518571']['Netflix ID']

300366    81435684
Name: Netflix ID, dtype: object

In [8]:
df.loc[df['id'] == 'Q85518571']

,id,Instance of,Title,Genre,Duration,Publication date,Country of origin,MPA Film Rating,Assessment,Award Received,...,Sunrise,Sunset,Creator,Voice actor,Characters,Series,Hulu ID,Disney+ series ID,Executive Producer,Disney+ movie ID
300366,Q85518571,Q117467246,Arcane,"[Q98526245, Q56064758, Q223685, Q1080374, Q343...",NaN,NaN,"[Q30, Q142]",NaN,NaN,"{'value': 'Q115212614', 'qualifiers': {'point ...",...,"{'time': '+2021-11-06T00:00:00Z', 'timezone': ...",NaN,"[{'entity-type': 'item', 'numeric-id': 1312889...","[{'value': {'entity-type': 'item', 'numeric-id...",NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df

,id,Instance of,Title,Genre,Duration,Publication date,Country of origin,MPA Film Rating,Assessment,Award Received,...,Sunrise,Sunset,Creator,Voice actor,Characters,Series,Hulu ID,Disney+ series ID,Executive Producer,Disney+ movie ID
0,Q595,Q11424,The Intouchables,"[Q157443, Q645928, Q130232, Q52162262]",112,"[2011-09-23T00:00:00, {'value': '2012-01-05T00...",Q142,Q18665344,"[{'value': 'Q4165246', 'qualifiers': {'assessm...","[{'value': 'Q2354778', 'qualifiers': {'point i...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q2345,Q11424,12 Angry Men,"[Q130232, Q3072039, Q121432339]",95,"[{'value': '1957-04-10T00:00:00', 'qualifiers'...",Q30,NaN,"[{'value': 'Q4165246', 'qualifiers': {'assessm...","[{'value': 'Q154590', 'qualifiers': {'point in...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q3997,Q11424,Nalai Manithan,"[Q200092, Q188473, Q1054574]",NaN,"[1989-01-14T00:00:00, 1989-01-01T00:00:00]",Q668,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4466,Q506240,Titanic II,"[Q1941707, Q846544, Q188473]",90,2010-01-01T00:00:00,Q30,NaN,"{'value': 'Q4165246', 'qualifiers': {'assessme...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q7216,Q11424,Pirates II: Stagnetti's Revenge,"[Q185529, Q2096633]",138,2008-09-27T00:00:00,Q30,NaN,"{'value': 'Q4165246', 'qualifiers': {'assessme...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415576,Q131549935,Q11424,The Roof,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4DAAAWKdea14
415577,Q131549946,Q21191270,Tommy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6qMdehXrz5B0
415578,Q131549957,Q11424,We Live Here: The Midwest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2muuvINZcRYJ
415579,Q131550157,Q11424,I Want To Live (2015 film),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415580,Q131550813,Q11424,American Psycho,Q2484376,NaN,NaN,Q30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['id', 'Instance of', 'Title', 'Genre', 'Duration', 'Publication date',
       'Country of origin', 'MPA Film Rating', 'Assessment', 'Award Received',
       'Nominated for', 'Box office', 'Production budget',
       'Production company', 'Distribution format', 'Narrative location',
       'Cast member', 'Director', 'Screenwriter', 'Composer',
       'Director of photography', 'Film editor', 'Official Website',
       'Original language of work', 'Netflix ID', 'Based on', 'Num Seasons',
       'Num Episodes', 'Sunrise', 'Sunset', 'Creator', 'Voice actor',
       'Characters', 'Series', 'Hulu ID', 'Disney+ series ID',
       'Executive Producer', 'Disney+ movie ID'],
      dtype='object')

In [89]:
initial = df[['id', 'Instance of', 'Title', 'Genre', 'Duration', 'Publication date', 'Netflix ID', "Disney+ movie ID", "Disney+ series ID", 'Hulu ID']]

In [90]:
hierarchy = ['anime', 'documentary', 'short_film','tv_film', 'live', 'movie', 'tv', 'youtube','other']

In [92]:
instance_mapping = {
    'Q11424':'movie', 
    'Q226730':'movie', 
    'Q202866':'movie',
    'Q24856':'movie',
    'Q56884562':'movie',
    'Q13593818':'movie',
    'Q12912091':'movie',
    'Q127402430':'movie',
    'Q67655225':'movie',
    'Q20442589':'movie',
    'Q98807719':'tv_film', 
    'Q506240':'tv_film',
    'Q29168811':'tv_film',
    'Q24862':'short_film', 
    'Q17517379':'short_film',
    'Q7751682':'short_film',
    'Q20667187':'short_film',
    'Q113791292':'short_film',
    'Q104771028':'short_film',
    'Q3585697':'short_film',
    'Q123995800':'short_film',
    'Q15416':'tv',
    'Q5398426':'tv',
    'Q36103':'tv',
    'Q17317604':'tv',
    'Q59284':'tv',
    'Q117467246':'tv',
    'Q21191270':'tv',
    'Q1261214':'tv',
    'Q59759':'tv',
    'Q18536800':'tv',
    'Q123126551':'tv',
    'Q1259759':'tv',
    'Q61220733':'tv',
    'Q526877':'tv',
    'Q653916':'tv',
    'Q7697093':'tv',
    'Q399811':'tv',
    'Q3464665':'tv',
    'Q98701476':'tv',
    'Q35516':'tv',
    'Q868250':'tv',
    'Q21156425':'tv',
    'Q1044551':'tv',
    'Q278329':'tv',
    'Q3564871':'tv', 
    'Q116048824':'tv',
    'Q1050739':'tv',
    'Q21664088':'tv',
    'Q1407245':'tv',
    'Q7696995':'tv',
    'Q24855895':'tv',
    'Q14346334':'tv',
    'Q597009':'tv',
    'Q1348595':'tv',
    'Q21010853':'tv',
    'Q1363997':'tv',
    'Q28225717':'tv',
    'Q196600':'tv',
    'Q122914758':'tv',
    'Q336181':'tv',
    'Q28195059':'tv',
    'Q98526239':'tv',
    'Q3421644':'tv',
    'Q182415':'tv',
    'Q581714':'tv',
    'Q1658957':'tv',
    'Q25360500':'tv',
    'Q125359117':'tv',
    'Q113687694': 'anime', 
    'Q63952888': 'anime', 
    'Q21198342': 'anime', 
    'Q20650540': 'anime',
    'Q220898': 'anime',
    'Q113671041':'anime',
    'Q104775758':'anime',
    'Q1047299':'anime',
    'Q100269041':'anime',
    'Q117209498':'anime',
    'Q117467240':'anime',
    'Q1107':'anime',
    'Q11086742':'anime',
    'Q30935481':'anime',
    'Q29982285':'anime',
    'Q7889': 'other', 
    'Q10590726': 'other', 
    'Q14406742': 'other', 
    'Q18011171': 'other',
    'Q18011172': 'other',
    'Q482994': 'other',
    'Q193977': 'other',
    'Q7725634':'other',
    'Q1656682':'other',
    'Q58483083':'other',
    'Q25379':'other',
    'Q7777570':'other',
    'Q98069877':'other',
    'Q1635956':'other',
    'Q2301591':'other',
    'Q18956797':'other',
    'Q182832':'other',
    'Q47461344':'other',
    'Q13406463':'other',
    'Q110879246':'other',
    'Q47544035':'other',
    'Q34508':'other',
    'Q13406554':'other',
    'Q18608583':'other',
    'Q64100970':'other',
    'Q1144661':'other',
    'Q134556':'other',
    'Q11664270':'other',
    'Q2431196':'other',
    'Q4886':'other',
    'Q17537576':'other',
    'Q3495514':'other',
    'Q59126':'other',
    'Q17558136':'youtube',
    'Q145806':'live',
    'Q16510064':'live',
    'Q35140':'live',
    'Q130192067':'live',
    'Q11483816':'live',
    'Q27889498':'live',
    'Q107655869':'live',
    'Q4504495':'live',
    'Q4164344': 'documentary',
    'Q93204': 'documentary',
    'Q7603925':'documentary',
    'Q27868077':'documentary'
}

def clean_instance(value, instance_mapping):
    """
    Select the best duration value from the input data.
    
    The function supports different data types:
      - If 'value' is a list of dicts (each with a 'value' and optional 'qualifiers'),
        it picks the candidate with the highest priority.
      - If 'value' is a list of plain numeric (or string convertible) values,
        it converts them and returns the minimum.
      - If 'value' is a numeric or string, it converts it appropriately.
    
    Returns:
      A rounded numeric duration (an int) or None if conversion fails.
    """
    if isinstance(value, str):
          return instance_mapping.get(value, value)
    elif isinstance(value, dict):
        inner_value = value.get('value')
        if inner_value is not None:
            return instance_mapping.get(inner_value, value)
        return value
    if isinstance(value, list):
        # Recursively map each item in the list.
        mapped_items = [clean_instance(item, instance_mapping) for item in value]
        # After mapping, if any of the instance_mapping keys appear in the results, return the key.
          
        for key in hierarchy:
            if key in mapped_items:
                return key
        # Otherwise, return the list (or value) as-is.
        return value

    # Fallback for other types.
    return value

In [93]:
initial["Instance of"] = initial.loc[~initial["Instance of"].isin(['Q5']),'Instance of']
initial["Instance of"] = initial.loc[initial["Instance of"].notnull(),'Instance of']
initial["Instance of"] = initial["Instance of"].apply(lambda x: clean_instance(x, instance_mapping))
instance_keys = list(set(instance_mapping.values()))
print(instance_keys)
initial.loc[(~initial['Instance of'].isin(instance_keys)) & (~initial['Instance of'].apply(lambda x: isinstance(x, (list, dict))))]['Instance of'].value_counts()

C:\Users\krdan\AppData\Local\Temp\ipykernel_17584\3194525058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial["Instance of"] = initial.loc[~initial["Instance of"].isin(['Q5']),'Instance of']
C:\Users\krdan\AppData\Local\Temp\ipykernel_17584\3194525058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial["Instance of"] = initial.loc[initial["Instance of"].notnull(),'Instance of']
C:\Users\krdan\AppData\Local\Temp\ipykernel_17584\3194525058.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial["Instance of"] = initial["Instance of"].apply(lambda x: clean_instance(x, instance_mapping))

['youtube', 'movie', 'tv', 'short_film', 'tv_film', 'other', 'documentary', 'anime', 'live']

Instance of
Q20742776     2
Q104840802    2
Q1187491      2
Q15116915     2
Q3744532      2
             ..
Q735478       1
Q1257444      1
Q105543609    1
Q181362       1
Q7628801      1
Name: count, Length: 93, dtype: int64

In [ ]:
initial.loc[initial['id']=='Q50691801', 'Instance of'] = 'tv'
initial.loc[initial['id']=='Q104869375', 'Instance of'] = 'tv'
initial.loc[initial['id']=='Q50697929', 'Instance of'] = 'other'
initial.loc[initial['id']=='Q65045161', 'Instance of'] = 'anime'
initial['Instance of'] = initial['Instance of'].dropna()

In [120]:
import numpy as np
initial.loc[initial['id']=='Q127689403']['Instance of'].values[0] == np.nan
initial = initial.dropna(how='all', subset=['Instance of', 'Genre','Duration'])

In [160]:
initial = initial.loc[(initial['Instance of'].isin(instance_keys)) & (initial[['Netflix ID', 'Disney+ movie ID', 'Disney+ series ID', 'Hulu ID']].notnull().any(axis=1))]

In [161]:
initial['Publication date']

0         2011-01-01
1         1957-04-10
3         2010-01-01
4         2008-09-27
5         1977-01-01
             ...
415574          None
415575          None
415576          None
415577          None
415578          None
Name: Publication date, Length: 32647, dtype: object

In [162]:
import math
import pandas as pd
from dateutil.parser import parse
import datetime

def clean_pub_date(value, date_format='mixed', dayfirst=False):
    def format_date(dt):
        # If the parsed date is the "unknown" value, return None.
        if dt.year == 1 and dt.month == 1 and dt.day == 1:
            return None
        return dt.date().isoformat()
    
    # Handle NaN values.
    if isinstance(value, float) and math.isnan(value):
        return None
    
    # Process strings.
    if isinstance(value, str):
        try:
            if date_format != 'mixed':
                dt = pd.to_datetime(value, format=date_format, dayfirst=dayfirst, errors='raise')
            else:
                dt = pd.to_datetime(value, dayfirst=dayfirst, errors='raise')
            formatted = format_date(dt)
            if formatted is None:
                return None
            return formatted
        except pd.errors.OutOfBoundsDatetime:
            try:
                dt = parse(value, dayfirst=dayfirst)
                formatted = format_date(dt)
                if formatted is None:
                    return None
                return formatted
            except Exception:
                return value
        except Exception:
            try:
                dt = parse(value, dayfirst=dayfirst)
                formatted = format_date(dt)
                if formatted is None:
                    return None
                return formatted
            except Exception:
                return value
    
    # Process dictionaries.
    if isinstance(value, dict):
        inner_value = value.get('value')
        if inner_value is not None:
            return clean_pub_date(inner_value, date_format=date_format, dayfirst=dayfirst)
        return None
    
    # Process lists.
    if isinstance(value, list):
        cleaned = [clean_pub_date(item, date_format=date_format, dayfirst=dayfirst) for item in value]
        # Remove any None values.
        cleaned = [c for c in cleaned if c is not None]
        if not cleaned:
            return None
        if len(cleaned) == 1:
            return cleaned[0]
        try:
            # Convert each cleaned date string to a datetime object.
            dates = [pd.to_datetime(d, dayfirst=dayfirst, errors='coerce') for d in cleaned]
            # Filter out any dates that are NaT or equal to 0001-01-01.
            dates = [d for d in dates if d is not pd.NaT and d is not None and not (d.year == 1 and d.month == 1 and d.day == 1)]
            if not dates:
                return cleaned[0]
            earliest = min(dates)
            return earliest.date().isoformat()
        except Exception:
            return cleaned[0]
    
    # Fallback for other types.
    return value

In [163]:
initial['Publication date'] = initial['Publication date'].apply(clean_pub_date)

C:\Users\krdan\AppData\Local\Temp\ipykernel_17584\3559044871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial['Publication date'] = initial['Publication date'].apply(clean_pub_date)

In [165]:
initial['Publication date'] = pd.to_datetime(initial['Publication date'])

C:\Users\krdan\AppData\Local\Temp\ipykernel_17584\1388800321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  initial['Publication date'] = pd.to_datetime(initial['Publication date'])

In [166]:
def made_in_us(x):
    if isinstance(x, list):
        return 'Q30' in x
    elif isinstance(x, str):
        return x == 'Q30'

In [167]:
import numpy as np
import math

def is_non_scalar(value):
    return isinstance(value, (list, dict, set, tuple, np.ndarray))

def get_candidate_priority(candidate):
    """
    Determine the candidate's priority based on its qualifiers.
    Lower numbers indicate higher priority.
    
    Priority rules:
      1. If the candidate's 'applies to part' qualifier has id 'Q26225765', return priority 1.
      2. Else if the candidate's 'place of publication' qualifier equals ['Q30'], return priority 2.
      3. Otherwise, return priority 3.
    """
    qualifiers = candidate.get('qualifiers', {})
    # Highest priority: "applies to part" equals Q26225765
    applies_to = qualifiers.get('applies to part')
    if isinstance(applies_to, list) and applies_to:
        # Check the first (or any) candidate; adjust if multiple values need to be considered.
        if isinstance(applies_to[0], dict) and applies_to[0].get('id') == 'Q26225765':
            return 1
    # Next priority: "place of publication" equals ['Q30']
    pop = qualifiers.get('place of publication')
    if isinstance(pop, list) and pop == ['Q30']:
        return 2
    # Lower priority for any candidate that doesn’t match the above.
    return 3

def clean_duration(value):
    """
    Select the best duration value from the input data.
    
    The function supports different data types:
      - If 'value' is a list of dicts (each with a 'value' and optional 'qualifiers'),
        it picks the candidate with the highest priority.
      - If 'value' is a list of plain numeric (or string convertible) values,
        it converts them and returns the minimum.
      - If 'value' is a numeric or string, it converts it appropriately.
    
    Returns:
      A rounded numeric duration (an int) or None if conversion fails.
    """
    # Case 1: 'value' is a list.
    if isinstance(value, list):
        # Check if the list elements are dictionaries (i.e. structured with qualifiers).
        if all(isinstance(item, dict) for item in value):
            # Filter out candidates that have a 'value' key.
            candidates = [item for item in value if 'value' in item]
            if not candidates:
                return None
            # Assign a priority to each candidate.
            candidates_with_priority = [
                (get_candidate_priority(candidate), candidate) for candidate in candidates
            ]
            # Sort by priority (lowest number is highest priority).
            candidates_with_priority.sort(key=lambda x: x[0])
            chosen_candidate = candidates_with_priority[0][1]
            chosen_value = chosen_candidate.get('value')
            try:
                # Convert the chosen value to float and round it.
                return round(float(chosen_value))
            except (ValueError, TypeError):
                return None
        else:
            # Otherwise, assume the list contains plain numeric or string values.
            numeric_candidates = []
            for item in value:
                try:
                    numeric_candidates.append(float(item))
                except (ValueError, TypeError):
                    continue
            if numeric_candidates:
                # Here you might choose the minimum (or maximum) duration.
                return round(min(numeric_candidates))
            else:
                return None

    # Case 2: 'value' is a numeric type.
    elif isinstance(value, (int, float)):
        if isinstance(value, float) and math.isnan(value):
            return None
        try:
            return round(float(value))
        except (ValueError, TypeError):
            return None

    # Case 3: 'value' is a string.
    elif isinstance(value, str):
        try:
            return round(float(value))
        except ValueError:
            return None

    # Fallback: unrecognized type.
    else:
        return None
    
initial = initial.loc[(initial['Title'] != '')]
initial['Duration'] = initial['Duration'].apply(clean_duration)

In [ ]:
# import numpy as np
# import math
# def is_non_scalar(value):
#     return isinstance(value, (list, dict, set, tuple, np.ndarray))

# def choose_duration(value):
#     if isinstance(value, list) and isinstance(value[0], dict):
#         for versions in value:
#             if isinstance(versions, dict):
#                 if versions.get('qualifiers').get('applies to part'):
#                     if versions.get('qualifiers').get('applies to part')[0]['id'] == 'Q26225765':
#                         return versions.get('value')
#                 if versions.get('qualifiers').get('place of publication'):
#                     if versions.get('qualifiers').get('place of publication') == ['Q30']:
#                         return versions.get('value')
#         return value[0]['value']
#     elif isinstance(value, list):
#         print(value)
#         for idx, versions in enumerate(value):
#             if isinstance(versions, dict):
#                 if versions.get('qualifiers').get('applies to part'):
#                     if versions.get('qualifiers').get('applies to part')[0]['id'] == 'Q26225765':
#                         return versions.get('value')
#                     else:
#                         value.pop(idx)
#                 elif versions.get('qualifiers').get('place of publication'):
#                     if versions.get('qualifiers').get('place of publication') == ['Q30']:
#                         return versions.get('value')
#                     else:
#                         value.pop(idx)
#                 else:
#                     value.pop(idx)
#         print(value)
#         return min(value)

#     elif isinstance(value, (int, float)):
#         if math.isnan(value):
#             return None
#         return round(value)
#     elif isinstance(value, str):
#         return round(float(value))

# initial = initial.loc[(initial['Title'] != '')]
# initial['Duration'] = initial['Duration'].apply(choose_duration)

In [168]:
def check_for_list_or_dict(row):
    if isinstance(row, (int, float)):
        return False
    for item in row:
        if isinstance(item, list) or isinstance(item, dict):
            return True
    return False

In [174]:
genre_mapping = pd.read_csv('../film_database_2/genre.csv')

In [175]:
genre_mapping

,id,genre,description
0,Q212781,Spaghetti Western,film genre
1,Q223770,B movie,film genre
2,Q338632,docu-soap,form of reality TV with documentary/soap opera...
3,Q399811,Japanese television drama,television programs that are a staple of Japan...
4,Q628165,road movie,film genre in which the main characters leave ...
...,...,...,...
792,Q127738803,teen comedy film,film genre
793,Q128145358,gay pornographic film,erotic or sexually explicit films featuring ga...
794,Q128149892,queer film,"motion pictures, or movies, created by queer d..."
795,Q129280009,beauty makeover show,television genre features transforming individ...
796,Q129505324,desert adventure film,subgenre featureing stories set in arid and of...

In [169]:
initial.loc[initial['Disney+ movie ID'].apply(check_for_list_or_dict)]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
256,Q188439,movie,Tangled,"[Q842256, Q1957385, Q157443, Q2975633]",100.0,2010-11-24,70128681,"[3V3ALy4SHStq, {'value': '5mb1AVLjOo2k', 'qual...",NaN,NaN
389,Q246283,movie,Frozen,"[Q859369, Q842256, Q157443, Q2975633, Q5216226...",101.0,2013-11-10,70279000,"[4uKGzAJi3ROz, {'value': '1JffnkWmY6mD', 'qual...",NaN,NaN
12646,Q5815826,movie,Coco,"[Q842256, Q157394, Q319221, Q186424, Q1361932,...",109.0,2017-11-22,80189213,"[{'value': 'db9orsI5O4gC', 'qualifiers': {'lan...",NaN,NaN
52575,Q179673,movie,Beauty and the Beast,"[Q1054574, Q842256, Q859369, Q1957385, Q930383]",84.0,1991-11-22,NaN,"[3oEh78YRc9VN, {'value': '3NGDQClVpZay', 'qual...",NaN,NaN
74918,Q14847067,movie,Into the Woods,"[Q157394, Q842256]",125.0,2014-12-25,70305948,"[1YYWziMOrDdq, {'value': '4XhpQPGupcwC', 'qual...",NaN,NaN
104792,Q322328,movie,The Nightmare Before Christmas,"[Q842256, Q1342372, Q28026639, Q157394, Q79491...",73.0,1993-01-01,806284,"[5GjwOj5Rkpz2, {'value': '5f9Y4Fphlz7f', 'qual...",NaN,NaN
113664,Q4120951,movie,Muppets Most Wanted,"[Q842256, Q1200678, Q496523, Q157443, Q157394,...",107.0,2014-03-21,70294662,"[5P53FrvtFCEo, {'value': 'drvTprAamsAx', 'qual...",NaN,NaN
144708,Q84323848,movie,Hamilton,Q842256,160.0,2020-07-03,NaN,"[3uPmBHWlO6HJ, {'value': '2fGLm1Uttylg', 'qual...",NaN,NaN
183364,Q18647981,movie,Moana,"[Q157443, Q842256, Q319221, Q859369, Q188473]",107.0,2016-11-23,80108238,"[70GoJHflgHH9, {'value': '7V1JEYW7Yxgu', 'qual...",NaN,NaN
208206,Q191803,movie,The Lion King II: Simba's Pride,"[Q2975633, Q1054574, Q842256]",81.0,1998-03-17,70001927,"[7EMejJ1F00Pn, {'value': '2eI2v4fxyWud', 'qual...",NaN,NaN
240477,Q27044293,movie,The Lion King,"[Q319221, Q1361932, Q157443, Q130232, Q842256]",118.0,2019-07-17,NaN,"[gDBvSe4GpZPD, {'value': '6uCvSyAXOYKn', 'qual...",NaN,NaN
260086,Q190135,movie,The Little Mermaid,"[Q1054574, Q842256, Q157394, Q2143665, Q191489...",83.0,1989-01-01,705052,"[5MpPFhS8FTXh, {'value': '4HkAlqhq1ZKp', 'qual...",NaN,NaN
288085,Q19946102,movie,Beauty and the Beast,"[Q1054574, Q157394, Q842256, Q191489, Q130232,...",129.0,2017-03-16,80135073,"[227lND2lKmLZ, {'value': 'uGi98kFbxOIp', 'qual...",NaN,NaN
302362,Q103372692,movie,Encanto,"[Q157394, Q842256]",109.0,2021-11-24,NaN,"[33q7DY1rtHQH, {'value': '63ADlgEGPLlY', 'qual...",NaN,NaN
343208,Q24272881,movie,Mary Poppins Returns,"[Q842256, Q52207399, Q1361932]",130.0,2018-12-21,NaN,"[5F6U4wl2xb7P, {'value': '1CqJzEniH6X7', 'qual...",NaN,NaN
395450,Q24733929,movie,Frozen 2,"[Q1361932, Q157394, Q319221, Q130232, Q842256]",103.0,2019-11-20,NaN,"[28vdy71kJrjb, {'value': '5TVgMZHhkc1U', 'qual...",NaN,NaN

In [ ]:
initial.loc[initial['Disney+ series ID'].apply(check_for_list_or_dict)]

Empty DataFrame
Columns: [id, Instance of, Title, Genre, Duration, Publication date, Netflix ID, Disney+ movie ID, Disney+ series ID, Hulu ID]
Index: []

In [ ]:
initial.loc[initial['Hulu ID'].apply(check_for_list_or_dict)]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
1697,Q885643,tv,Blue Bloods,Q2321734,45.0,NaN,NaN,NaN,NaN,[{'value': 'f8dfabd5-f6ec-43f8-98c5-5a19f883a9...
8269,Q3809524,tv,Teen Titans Go!,"[Q1762165, Q1273568, Q624771, Q7643432, Q9335576]",11.0,NaN,80103408,NaN,NaN,[{'value': '4677c039-314f-4dfc-8dc1-c533a76e8a...
23466,Q15711878,tv,Sonic Boom,"[Q1436734, Q9326077, Q9335576]",22.0,2014-11-08T00:00:00,80155771,NaN,NaN,[{'value': 'c3289b93-53fd-434a-af57-81c71413e9...
104399,Q114632,tv,Doc McStuffins,"[Q9335576, Q85632254]",24.0,NaN,70274373,NaN,2ARaN5hKY82j,[{'value': '9b75f792-44c6-4a49-a2a2-48a746c6c2...
121115,Q9030747,tv,Max Steel,Q336059,NaN,NaN,NaN,NaN,NaN,[{'value': '45343ba0-08b8-41d1-b557-eda4533b45...
126396,Q13100312,tv,The Goldbergs,Q21188110,22.0,NaN,NaN,NaN,NaN,[{'value': 'a43a85fb-d4c8-4d11-9c28-070153643b...
156162,Q23567,tv,Lost,"[Q101860688, Q336059, Q1366112, Q279060, Q3634...",42.0,2004-09-22T00:00:00,70136118,NaN,49VjIYAiy7oh,[{'value': '993708a8-d784-4e01-afe5-60e5090f6a...
156549,Q247643,tv,Elementary,"[Q9335577, Q1366112, Q56878968, Q101716172]",42.0,"[{'value': '2013-05-03T00:00:00', 'qualifiers'...",70242215,NaN,NaN,[{'value': '4f8bc6dd-bb09-4868-a425-9c426ca7b0...
158000,Q1009700,tv,Bunnytown,Q1273568,24.0,NaN,NaN,NaN,NaN,[{'value': '51ca43d5-5365-4f60-b6e7-0f2c1f0c2e...
158094,Q1068815,tv,Handy Manny,"[Q157443, Q9335576]",NaN,NaN,NaN,NaN,7HORRRRCuuw5,[{'value': '97fafab6-5922-4e3e-ba1e-44cb5126a0...
160622,Q2571339,tv,Curious George,"[Q9335576, Q1273568]",NaN,NaN,NaN,NaN,NaN,[{'value': '29a4727e-6ac4-4b99-9e91-08c8d872c7...
182607,Q18167747,tv,Dr. Dimensionpants,NaN,NaN,NaN,NaN,NaN,NaN,[{'value': 'd4e31cee-043f-4095-b3d3-620efe9e41...
183552,Q18844725,tv,Fear the Walking Dead,"[Q1366112, Q20220309, Q104123273, Q123198290, ...",54.0,NaN,NaN,NaN,NaN,[{'value': '934b1119-d041-4b2e-8833-4d0f374310...
213417,Q3111060,tv,Party Down,Q21188110,NaN,NaN,NaN,NaN,NaN,[{'value': 'dabfcfd9-93b3-4f54-a63d-dc62050a00...
214660,Q3391330,anime,Astro Boy,"[Q15637293, Q5366020, Q15712918, Q15286013]",NaN,NaN,NaN,NaN,NaN,[{'value': '7a52bb20-1ddd-40b1-8ae9-01b6894a47...
230058,Q13377593,tv,The Bridge,Q85133165,NaN,NaN,70285783,NaN,NaN,[{'value': 'd8f5cab6-1569-4433-89d8-14ce691b3b...
240039,Q25467476,tv,Zorro: The Chronicles,"[Q56064758, Q9335576]",23.0,2015-01-01T00:00:00,NaN,NaN,NaN,[{'value': 'e32564e2-1721-4c90-bdee-d6477e9c31...
335366,Q15946242,tv,Astroblast!,"[Q24925, Q9335576]",NaN,NaN,NaN,NaN,NaN,[{'value': '293a93c1-354d-4046-b583-bd316c5cb3...
337028,Q16868584,tv,Black-ish,Q21188110,22.0,NaN,NaN,NaN,THgkd5itRheu,[{'value': '76f43549-f181-462f-94ec-2fe34b9aba...
344166,Q26907427,tv,The ZhuZhus,"[Q9335576, Q1273568, Q202866, Q157443]",NaN,NaN,NaN,NaN,NaN,[{'value': 'e044cf52-28ae-4c24-a3b3-88561aa6f8...
363718,Q16538,tv,South Park,"[Q128758, Q20652466, Q4765080, Q9335576, Q5309...",22.0,NaN,70136107,NaN,NaN,[{'value': '69ceddec-44ed-4122-af29-d31a731587...
363842,Q117396,tv,CSI: Crime Scene Investigation,"[Q9335577, Q2321734, Q1366112, Q517386, Q6585139]",NaN,NaN,NaN,NaN,NaN,[{'value': 'e316aa0d-6df1-445b-98d9-ea1d165bcf...
364389,Q465472,tv,Full House,"[Q21188110, Q170238, Q130232, Q1361932, Q7696995]",24.0,NaN,70155617,NaN,NaN,[{'value': '2b483463-d974-4dbe-a0b8-533f81d1de...
364408,Q471531,tv,Extreme Ghostbusters,"[Q336059, Q9335576]",25.0,NaN,NaN,NaN,NaN,[{'value': 'a1c6f6c4-fd0a-46a3-82a8-57b586be9f...
365120,Q794273,tv,Zou,"[Q9335576, Q1273568]",11.0,NaN,NaN,NaN,NaN,[{'value': '9c2ec6bf-0853-4878-b7e7-a43309ad78...
387622,Q16153430,tv,The Awesomes,NaN,NaN,NaN,NaN,NaN,NaN,[{'value': 'c4d582d2-01ce-4639-a411-b0c903b88d...
389801,Q17323160,tv,The Doozers,NaN,NaN,NaN,NaN,NaN,NaN,[{'value': 'e8c0d10c-63a7-4db7-82a4-33c6582d12...

In [ ]:
#Specific Netflix IDs to fix:
problematic_netflix_ids = ('Q289127', 'Q21001674', 'Q320588', 'Q13897247', 'Q20495759')
problematic_netflix_ids = initial.loc[initial['Netflix ID'].apply(check_for_list_or_dict)]['id'].tolist()
problematic_disney_movie_ids = initial.loc[initial['Disney+ movie ID'].apply(check_for_list_or_dict)]['id'].tolist()
problematic_disney_series_ids = initial.loc[initial['Disney+ series ID'].apply(check_for_list_or_dict)]['id'].tolist()
problematic_hulu_ids = initial.loc[initial['Hulu ID'].apply(check_for_list_or_dict)]['id'].tolist()

In [ ]:
def flatten_list(value):
    row = []
    if isinstance(value, list):
        for val in value:
            if isinstance(val, dict):
                row.append(val['value'])
            else:
                row.append(val)
        return row
    return value

def flatten_dict(value):
    row = []
    if isinstance(value, list):
        for val in value:
            if isinstance(val, dict):
                row.append(val['value'])
            else:
                row.append(val)
        return row
    return value

In [ ]:
initial.loc[initial['id'].isin(problematic_netflix_ids), 'Netflix ID'] = \
    initial.loc[initial['id'].isin(problematic_netflix_ids), 'Netflix ID'].apply(flatten_list)

initial.loc[initial['id'].isin(problematic_disney_movie_ids), 'Disney+ movie ID'] = \
    initial.loc[initial['id'].isin(problematic_disney_movie_ids), 'Disney+ movie ID'].apply(flatten_list)

In [ ]:
initial

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
0,Q595,movie,The Intouchables,"[Q157443, Q645928, Q130232, Q52162262]",112.0,"[2011-09-23T00:00:00, {'value': '2012-01-05T00...",70232180,NaN,NaN,NaN
1,Q2345,movie,12 Angry Men,"[Q130232, Q3072039, Q121432339]",95.0,"[{'value': '1957-04-10T00:00:00', 'qualifiers'...",60004251,NaN,NaN,NaN
2,Q3997,movie,Nalai Manithan,"[Q200092, Q188473, Q1054574]",NaN,"[1989-01-14T00:00:00, 1989-01-01T00:00:00]",NaN,NaN,NaN,NaN
3,Q4466,tv_film,Titanic II,"[Q1941707, Q846544, Q188473]",90.0,2010-01-01T00:00:00,70139488,NaN,NaN,NaN
4,Q7216,movie,Pirates II: Stagnetti's Revenge,"[Q185529, Q2096633]",138.0,2008-09-27T00:00:00,70113743,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
415576,Q131549935,movie,The Roof,NaN,NaN,NaN,NaN,4DAAAWKdea14,NaN,NaN
415577,Q131549946,tv,Tommy,NaN,NaN,NaN,NaN,6qMdehXrz5B0,NaN,NaN
415578,Q131549957,movie,We Live Here: The Midwest,NaN,NaN,NaN,NaN,2muuvINZcRYJ,NaN,NaN
415579,Q131550157,movie,I Want To Live (2015 film),NaN,NaN,NaN,NaN,NaN,NaN,NaN
415580,Q131550813,movie,American Psycho,Q2484376,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# initial.loc[initial['Instance of'] != 'Q11424'].apply(flatten_list)

In [ ]:
initial.loc[initial['id'].isin(problematic_disney_movie_ids)]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
256,Q188439,movie,Tangled,"[Q842256, Q1957385, Q157443, Q2975633]",100.0,"[{'value': '2010-11-24T00:00:00', 'qualifiers'...",70128681,"[3V3ALy4SHStq, 5mb1AVLjOo2k]",NaN,NaN
389,Q246283,movie,Frozen,"[Q859369, Q842256, Q157443, Q2975633, Q5216226...",101.0,"[{'value': '2013-11-27T00:00:00', 'qualifiers'...",70279000,"[4uKGzAJi3ROz, 1JffnkWmY6mD]",NaN,NaN
12646,Q5815826,movie,Coco,"[Q842256, Q157394, Q319221, Q186424, Q1361932,...",109.0,"[{'value': '2017-11-22T00:00:00', 'qualifiers'...",80189213,"[db9orsI5O4gC, SvWfRZO0Z3mF, 4M9wtfJ9CfQm]",NaN,NaN
52575,Q179673,movie,Beauty and the Beast,"[Q1054574, Q842256, Q859369, Q1957385, Q930383]",84.0,"[{'value': '1991-11-22T00:00:00', 'qualifiers'...",NaN,"[3oEh78YRc9VN, 3NGDQClVpZay]",NaN,NaN
74918,Q14847067,movie,Into the Woods,"[Q157394, Q842256]",125.0,"[{'value': '2014-12-25T00:00:00', 'qualifiers'...",70305948,"[1YYWziMOrDdq, 4XhpQPGupcwC]",NaN,NaN
104792,Q322328,movie,The Nightmare Before Christmas,"[Q842256, Q1342372, Q28026639, Q157394, Q79491...",73.0,"[{'value': '1993-10-15T00:00:00', 'qualifiers'...",806284,"[5GjwOj5Rkpz2, 5f9Y4Fphlz7f]",NaN,NaN
113664,Q4120951,movie,Muppets Most Wanted,"[Q842256, Q1200678, Q496523, Q157443, Q157394,...",107.0,"[{'value': '2014-03-21T00:00:00', 'qualifiers'...",70294662,"[5P53FrvtFCEo, drvTprAamsAx]",NaN,NaN
144708,Q84323848,movie,Hamilton,Q842256,160.0,"[2021-10-15T00:00:00, 2020-07-03T00:00:00]",NaN,"[3uPmBHWlO6HJ, 2fGLm1Uttylg]",NaN,NaN
183364,Q18647981,movie,Moana,"[Q157443, Q842256, Q319221, Q859369, Q188473]",107.0,"[{'value': '2016-11-23T00:00:00', 'qualifiers'...",80108238,"[70GoJHflgHH9, 7V1JEYW7Yxgu]",NaN,NaN
208206,Q191803,movie,The Lion King II: Simba's Pride,"[Q2975633, Q1054574, Q842256]",81.0,"[{'value': '1998-10-27T00:00:00', 'qualifiers'...",70001927,"[7EMejJ1F00Pn, 2eI2v4fxyWud]",NaN,NaN
240477,Q27044293,movie,The Lion King,"[Q319221, Q1361932, Q157443, Q130232, Q842256]",118.0,"[{'value': '2019-07-17T00:00:00', 'qualifiers'...",NaN,"[gDBvSe4GpZPD, 6uCvSyAXOYKn]",NaN,NaN
260086,Q190135,movie,The Little Mermaid,"[Q1054574, Q842256, Q157394, Q2143665, Q191489...",83.0,"[{'value': '1989-11-17T00:00:00', 'qualifiers'...",705052,"[5MpPFhS8FTXh, 4HkAlqhq1ZKp]",NaN,NaN
288085,Q19946102,movie,Beauty and the Beast,"[Q1054574, Q157394, Q842256, Q191489, Q130232,...",129.0,"[{'value': '2017-03-17T00:00:00', 'qualifiers'...",80135073,"[227lND2lKmLZ, uGi98kFbxOIp]",NaN,NaN
302362,Q103372692,movie,Encanto,"[Q157394, Q842256]",109.0,"[{'value': '2021-11-24T00:00:00', 'qualifiers'...",NaN,"[33q7DY1rtHQH, 63ADlgEGPLlY]",NaN,NaN
343208,Q24272881,movie,Mary Poppins Returns,"[Q842256, Q52207399, Q1361932]",130.0,"[{'value': '2018-12-21T00:00:00', 'qualifiers'...",NaN,"[5F6U4wl2xb7P, 1CqJzEniH6X7]",NaN,NaN
395450,Q24733929,movie,Frozen 2,"[Q1361932, Q157394, Q319221, Q130232, Q842256]",103.0,"[{'value': '2019-11-29T00:00:00', 'qualifiers'...",NaN,"[28vdy71kJrjb, 5TVgMZHhkc1U]",NaN,NaN

In [ ]:
test = initial['Genre'].apply(flatten_list)
test = test.apply(lambda x: [x] if isinstance(x, str) else x)
test = test.apply(lambda x: [x['value']] if isinstance(x, dict) else x)

In [ ]:
test.loc[test.apply(lambda x: isinstance(x, list))]

0         [Q157443, Q645928, Q130232, Q52162262]
1                [Q130232, Q3072039, Q121432339]
2                   [Q200092, Q188473, Q1054574]
3                   [Q1941707, Q846544, Q188473]
4                            [Q185529, Q2096633]
                           ...
415548                                 [Q130232]
415550                                 [Q202866]
415554                                  [Q93204]
415555                       [Q20442589, Q24862]
415580                                [Q2484376]
Name: Genre, Length: 229128, dtype: object

In [ ]:
wtf = test.loc[test.apply(lambda x: not isinstance(x, list))]

In [ ]:
wtf.loc[wtf!='test'].apply(lambda x: [x['value']] if isinstance(x, dict) else x)

46       NaN
47       NaN
48       NaN
49       NaN
72       NaN
          ..
415575   NaN
415576   NaN
415577   NaN
415578   NaN
415579   NaN
Name: Genre, Length: 96078, dtype: float64

In [ ]:
test = test.fillna('test')

In [ ]:
test.loc[test=='test']

In [ ]:
test.loc[test=='test']

65        test
70        test
126       test
127       test
174       test
          ...
370680    test
370681    test
370682    test
370683    test
370684    test
Name: Genre, Length: 82296, dtype: object

In [ ]:
df['Instance of'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

0            Q11424
1            Q11424
2            Q11424
3           Q506240
4            Q11424
            ...
415576       Q11424
415577    Q21191270
415578       Q11424
415579       Q11424
415580       Q11424
Name: Instance of, Length: 415581, dtype: object

In [ ]:
initial.loc[~initial['Instance of'].isin(['movie', 'tv'])]

,id,Instance of,Title,Genre,Duration,Publication date,Netflix ID,Disney+ movie ID,Disney+ series ID,Hulu ID
22,Q24980,"{'value': 'Q11424', 'qualifiers': {'follows': ...",Monty Python's The Meaning of Life,"[Q842256, Q157443]",112.0,"[{'value': '1983-08-26T00:00:00', 'qualifiers'...",60029676,NaN,NaN,NaN
184,Q180219,"{'value': 'Q11424', 'qualifiers': {'publicatio...",Heroes of the West,"[Q212781, Q157443]",95.0,1963-01-01T00:00:00,NaN,NaN,NaN,NaN
1378,Q869862,"{'value': 'Q11424', 'qualifiers': {'followed b...",Goal!,Q3076696,113.0,"[{'value': '2006-05-12T00:00:00', 'qualifiers'...",70041143,26kF70VB1fOq,NaN,NaN
6205,Q3577227,"[{'value': 'Q1555508', 'qualifiers': {'publish...",Ça peut vous arriver,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6983,Q3824811,"{'value': 'Q11424', 'qualifiers': {'publicatio...",Vengeance Is My Forgiveness,Q212781,82.0,1969-01-01T00:00:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
353900,Q27964588,"{'value': 'Q11424', 'qualifiers': {'start time...",Velaiilla Pattadhari 2,Q2678111,NaN,2017-01-01T00:00:00,NaN,NaN,NaN,NaN
365696,Q113133909,"{'value': 'Q11424', 'qualifiers': {'genre': [{...",Aropin N'Tenia,NaN,NaN,1982-01-01T00:00:00,NaN,NaN,NaN,NaN
366260,Q115359828,"[Q2927074, {'value': 'Q11424', 'qualifiers': {...",Goncharov,Q7444356,NaN,1973-01-01T00:00:00,NaN,NaN,NaN,NaN
366923,Q117359374,"{'value': 'Q11424', 'qualifiers': {'publicatio...",Jolicoeur Touriste,Q790192,NaN,1989-01-01T00:00:00,NaN,NaN,NaN,NaN
369410,Q126950724,"{'value': 'Q11424', 'qualifiers': {'identity o...",Everybody's Talking About Jamie (film),"[Q842256, Q859369]",NaN,2021-09-10T00:00:00,NaN,NaN,NaN,NaN

In [ ]:
df['Instance of'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

0         Q11424
1         Q11424
2         Q11424
3         Q11424
4         Q11424
           ...
370681    Q11424
370682    Q11424
370683    Q11424
370684    Q11424
370685    Q11424
Name: Instance of, Length: 370686, dtype: object

In [ ]:
print(df[['id', 'Genre']].dropna().explode('Genre'))

                id      Genre
0             Q595    Q157443
0             Q595    Q645928
0             Q595    Q130232
0             Q595  Q52162262
1            Q2345    Q130232
...            ...        ...
370663  Q131481060    Q202866
370667  Q131523693     Q93204
370668  Q131531679  Q20442589
370668  Q131531679     Q24862
370685  Q131550813   Q2484376

[332364 rows x 2 columns]

In [ ]:
# import sqlalchemy
# from urllib.parse import quote_plus

# DB_HOST = "35.236.65.215"
# DB_USER = "dannydhkim"
# DB_PASSWORD = "!@#$Mari03240306"
# DB_NAME = "popcorn_metadata"
# DB_PORT = "3306"

# encoded_password = quote_plus(DB_PASSWORD)
# # Connect to MySQL
# engine = sqlalchemy.create_engine(f"mysql+pymysql://{DB_USER}:{encoded_password}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
# df = df[['id', 'Genre']].dropna().explode('Genre')
# df = df.rename(columns={"id": "content_id", "Genre": "genre_id"})
# df.to_sql("content_genre", con=engine, if_exists="append", index=False)

# print("Data successfully written to MySQL!")

In [ ]:
print(df['Title'].loc[df['Title'].duplicated()].sort_values().tail(15))

318839    None
319411    None
322674    None
323890    None
324286    None
341370    None
341449    None
341559    None
341820    None
341898    None
351932    None
352784    None
357358    None
363877    None
369109    None
Name: Title, dtype: object

In [ ]:
print(df['Title'].loc[df['Title']==''])

223
387
448
541
790
         ..
370654
370655
370660
370662
370670
Name: Title, Length: 88312, dtype: object